body {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

header {
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 25px 20px;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#food {
  margin: 10px;
}

#lights {
  margin: 10px;
}

#bored {
  margin: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.hungerStat {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.sleepStat {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.age {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.boredStat {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.characterName {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.dark-mode {
  background-image: url("../images/night.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.light-mode {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
}
