body {
  border: solid 10px;
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  border: solid 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   position: relative;
  margin: 20px 20px 0px 20px;
  padding: 0px 10px 15px 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#feed {
  margin: 10px;
}

#lights {
  margin: 10px;
}

#bored {
  margin: 10px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin-right: 15px;
}

.hungerStat {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.sleepStat {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.age {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.boredStat {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.characterName {
  background-color: white;
  border: solid;
  padding: 3px;
  margin: 10px;
}

.dark-mode {
  background-image: url("../images/night.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.light-mode {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
}
#charmander {
  display: none;
  position: relative;
  transition: all linear 1s;
  margin-left: auto;
  margin-right: auto;
}

#charm {
  display: none;
  position: relative;
  transition: all linear 1s;
  margin-left: auto;
  margin-right: auto;
}

#charz {
  display: none;
  position: relative;
  transition: all linear 1s;
  margin-left: auto;
  margin-right: auto;
}

#sleepyc {
  display: none;
  position: relative;
  transition: all linear 1s;
  margin-left: auto;
  margin-right: auto;
}

.character {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#egg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px;
  max-width: 200px;
  width: 140px;
  height: 150px;
  opacity: 1;
}
