body {
  display: flex;
  flex-direction: column;
}

header {
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 25px 20px;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#food {
  margin: 10px;
}

#lights {
  margin: 10px;
}

#bored {
  margin: 10px;
}

.stats {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.hungerStat {
  margin: 10px;
}

.sleepStat {
  margin: 10px;
}

.age {
  margin: 10px;
}

.boredStat {
    margin: 10px;
}

.characterName {
    margin: 10px;
}

.dark-mode {
  background-color: black;
  color: white;
}
